<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Welcome {{user.name}}!</title> -->
    <h1>Welcome {{user.name}}!</h1>
    <ul>
        <li>School:{{user.school}}</li>
        <li>Age:{{user.age}}</li>
        <li>Present:{{user.is_present}}</li>
    </ul>

    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form action="" method="POST">
        <p>
            
        </p>
    </form>
</body>
</html>